@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


body {
    font-family: 'Space Mono', monospace;
    letter-spacing: 1.2px;
    line-height: 1.2em;
    text-transform: none;
    font-size: .9em;
    color:#1A181B;
    margin: 2em; 
    max-width: 560px;
}

h1 {
  font-style: normal;
  font-weight: bold;
}

img {
    width: 80%;
}

a:link{
    color: #1A181B;
    text-decoration: underline #B9D6F2;
    -webkit-text-decoration: underline wavy #B9D6F2;
}

a:hover { 
    color: #B9D6F2;
}

a:focus { 
    color: #B9D6F2;
}

a:active { 
    color: #B9D6F2;
}

.hiddenimg {
  display: none;
  padding-top: 0.6em; 
}

.hiddentxt {
  font-weight: normal;
  color: inherit;
  text-decoration: underline wavy #B9D6F2;
}

.hiddentxt a {
  color: inherit;
}

.hiddentxt a:hover{
  color: #B9D6F2;
}

.hiddentxt a:focus{
  color: #B9D6F2;
}

.hiddentxt a:active{
  color: #B9D6F2;
}

.hiddentxt:hover ~ .hiddenimg {
  display: block;
}

.headshot {
    float: left;              
    margin-right: 20px;       
    border-radius: 0;        
    width: 150px;             
    height: 150px;            
    object-fit: cover;       
}


.clearfix {
    clear: both;        
}