body {
    margin: 0;
    padding: 0;
    font: 16px monospace, monospace;
    background: #f0f0f0;
    color: #333;
}

.site-header {
    padding: 10px 5%;
    background-color: #f0f0f0;
}

.header-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: none;
    height: 2px;
    background-color: #333;
    margin: 20px auto;
    width: 100%;
}

.name, .navbar {
    padding: 0 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 0 20px;
}

.navbar a:last-child {
    padding-right: 0;
}

.content-container, footer {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 960px;
    margin: 20px auto;
}

.bio, .contact {
    padding-bottom: 20px;
}

.contact h2 {
    margin-top: 40px;
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 10px 5%;
}

@media (max-width: 960px) {
    .name, .navbar a {
        padding: 0 5px;
    }
    .content-container, footer {
        padding: 10px;
    }
    .header-content, .content-container, footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

