body {
    margin: 0;
    padding: 0;
    font: 16px monospace, monospace;
    background: #f0f0f0;
    color: #333;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #f0f0f0;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.name {
    margin-right: auto;
    padding-right: 20px; /* Adjust if necessary to align with the content below */
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px; /* This padding creates the space between the items */
}

/* Remove the right padding for the last item in the navbar */
.navbar a:last-child {
    padding-right: 10px;
}

/* Specific class for social icons if you have other links in your navbar */
.navbar .social-icon {
    padding-right: 20px;
}

.navbar .social-icon:last-child {
    padding-right: 10px;
}

.content-container {
    max-width: 960px; /* Adjust based on your preference */
    margin: 0 auto; /* Centers the container */
    padding: 20px 5%; /* Horizontal padding to match the site header */
}

footer {
    text-align: center;
    padding: 10px 5%;
}

@media (max-width: 960px) {
    .site-header, .content-container, footer {
        padding: 10px;
    }
    .name, .navbar a, .navbar i {
        padding: 0 5px;
    }
}
